@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.eot');
    src: local('☺'), url('../fonts/roboto/Roboto-Regular.woff') format('woff'), url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto/Roboto-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url("../img/LBexVMs.jpg");
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav, .topNav, .leftNav {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 0;
}

.nav li.item, .topNav li.item, .leftNav li.item {
    list-style-type: none;
}

.nav p, .topNav p, .leftNav p {
    text-decoration: none;
    color: #ffffff;
    padding: 12px 20px;

    font-weight: 500;
    display: inline-block;
    color: #ffffff;
    padding: 5px 20px;
    cursor: pointer;
}

.leftNav a {
    text-decoration: none;
    color: #ffffff;
    padding: 12px 20px;
}

.topNav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
}

.topNav li.item {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    display: inline-block;
}

.topNav li.item p {
    display: inline-block;
}

.topNav li.item p img {
    max-width: 18px;
    margin: 3px 7px 6px 0;
    vertical-align: middle;
}

.topNav li.item p.logo {
    font-weight: 500;
    font-weight: bold;
}

.topNav li.item p.logo .fa {
    margin-right: 18px;
}

.topNav li.item p:hover, .topNav li.item p.active {
    background-color: rgba(0, 0, 0, 0.3);
}

p.logo:hover {
    background-color: transparent !important;
}

.leftNav {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    height: 100%;
    margin-top: 56px;
    width: 300px;
    width: 153px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;


    padding: 9px 0 0 0;
}

.leftNav li.item {
    display: block;
}

.leftNav li.item p {
    display: block;
}

.leftNav li.item p:hover, .leftNav li.item p.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.leftNav li.item p {
    padding: 3px 20px;

    padding: 6px 20px 6px;
    margin: 3px 0;

    padding: 9px 18px 10px !important;
}

/*p.homeP{padding: 20px 20px 1px!important;}*/

@media screen and (min-width: 320px) and (max-width: 768px) {
    .leftNav {
        display: none;
    }
}


/*login form*/

div.clear {
    clear: both!important;
    width: 0!important;
    height: 0!important;
    padding: 0!important;
    margin: 0!important;
}

div.loginButton {

}

div.loginButton > input[type="submit"] {
    float: right;
    background-color: white;
    border-radius: 4px;
    padding: 7px 25px 7px 25px;
    text-align: center;
    cursor: pointer;
    borer: none;
    outline: none;
    font-weight: bold;
}

div.loginButton > input[type="submit"]:hover {
    font-style: italic;
}

ul.topNav > li:first-child {
    width: 153px;
}

div.userBlock {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    vertical-align: middle;
}

    div.userBlock > div {
        float: left;
        margin: 0 5px;
        padding: 9px 0px;
    }
    div.currUsername{
        margin-right: 15px!important;
        font-weight: bold;
    }

    div.notifIconBlock {
        cursor: pointer;
        padding: 9px 0 5px 0 !important;
    }
    div.red{
        color: darkred;
    }
    div.red > i{
        font-size: 1.49em!important;
    }

    div.notifIconBlock > i {
        font-size: 1.32em;
    }

    div.notifMsgBlock{
        display: none;
        position: absolute;
        right: -3px;
        top: 58px;
        width: 224px;
        height: 77px;
        background: rgba(25, 24, 24, 0.32);
        /*background-color: #1a75ff;
        background-color: #002966;*/
        border-radius: 5px;
        -webkit-box-shadow: 7px 10px 25px -8px rgba(0,0,0,1);
        -moz-box-shadow: 7px 10px 25px -8px rgba(0,0,0,1);
        box-shadow: 7px 10px 25px -8px rgba(0,0,0,1);
    }
    div.notifText{
        margin: 2px 6px 2px 18px;
        text-align: center;
    }
    div.notifText > span{
        letter-spacing: 1px;
        font-weight: bold;
    }
        div.acceptReject{
            margin: 9px 0;
        }
            div.acceptReject > div{
                width: 32%;
                text-align: center;
                margin: 0 auto;
                cursor: pointer;
                padding: 4px 5px 4px 5px;
                /*border: 1px solid #002966;*/
                border-radius: 4px;
                color: #002966;
                background-color: #ffffff;
            }
            div.acceptReject > div:hover{
                color: #ffffff;
                background-color: #002966;
                /*box-shadow: inset 0 0 0 1px #fff;*/
            }
            div#accept{
                float: right;
                margin: 0 9% 0 auto;
            }
            div#reject{
                float: left;
                margin: 0 auto 0 9%;
            }

div.logoutDiv {
    margin: 27px auto 0px;
    font-weight: bold;
    font-size: 16px;
    padding: 3px 0px 3px;
    background-color: #ffffff;
    letter-spacing: 2px;
    color: #000000;

    border-radius: 10px;
    width: 72%;
    text-align: center;

}

div.logoutDiv:hover {
    background-color: #000000;

    color: #ffffff;
}

div.logoutDiv > a {
    width: 100%;
    display: block;
    padding: 5px 0;
    color: inherit;
}

div.homeContent {
    padding: 50px;
    box-sizing: border-box;
    max-width: 700px;
    margin: 45px auto 0 auto;
    background: rgba(25, 24, 24, 0.32);
    box-shadow: 0px 1px 13px 2px rgba(251, 251, 251, 0.09);

    /* position: relative;
     top: -294px;*/

    max-height: 495px;
    height: 495px;
    overflow: hidden;
    padding: 30px 50px 0px 50px;
}

div.userRow {
    width: 84%;
    padding: 6px 0 12px 0;
    margin: 5px auto 7px auto;
    font-size: 18px;

    border-bottom: 1px solid black;
}

div.userRow > span {
    float: right;
    border: 1px solid black;
    padding: 0 5px;
    cursor: pointer;
}






















