@import url("bootstrap.css");
@import url("bootstrap-datepicker.css");
@import url("font-awesome.min.css");
@import url("font-awesome-animation.css");
@import url("simplebar-z.css");

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.eot');
    src: local('☺'), url('../fonts/roboto/Roboto-Regular.woff') format('woff'), url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto/Roboto-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url("../img/LBexVMs.jpg");
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    margin: 0 !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.nav, .topNav, .leftNav {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 0;
}

.nav li.item, .topNav li.item, .leftNav li.item {
    list-style-type: none;
}

.nav p, .topNav p, .leftNav p {
    text-decoration: none !important;
    color: #ffffff !important;
    padding: 12px 20px !important;

    font-weight: 500 !important;
    display: inline-block ;
    color: #ffffff !important;
    padding: 5px 20px !important;
    cursor: pointer !important;
}

.leftNav a {
    text-decoration: none;
    color: #ffffff;
    padding: 12px 20px;
}

.topNav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
}

.topNav li.item {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    display: inline-block;
}

.topNav li.item p {
    display: inline-block;
}

.topNav li.item p img {
    max-width: 18px;
    margin: 3px 7px 6px 0;
    vertical-align: middle;
}

.topNav li.item p.logo {
    font-weight: 500;
    font-weight: bold;
}

.topNav li.item p.logo .fa {
    margin-right: 18px;
}

.topNav li.item p:hover, .topNav li.item p.active {
    background-color: rgba(0, 0, 0, 0.3);
}

p.logo:hover {
    background-color: transparent !important;
}

.leftNav {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    /*height: 100%;*/
    height: calc(100% - 61px);
    /*margin-top: 56px;*/
    /*width: 300px;*/
    width: 153px;
    position: absolute;
    /*top: 4px;
    bottom: 0;*/
    /*left: 0;*/
    left:-310px;

    /*padding: 9px 0 0 0;*/
}

.leftNav li.item {
    display: block;
}

.leftNav li.item p {
    display: block;
}

.leftNav li.item p:hover, .leftNav li.item p.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.leftNav li.item p {
    padding: 3px 20px;

    padding: 6px 20px 6px;
    margin: 3px 0;

    padding: 9px 9px 10px 18px !important;
}

/*p.homeP{padding: 20px 20px 1px!important;}*/

@media screen and (min-width: 320px) and (max-width: 768px) {
    .leftNav {
        /*display: none;*/
    }
    p.logo span{
        display: none;
    }
}


/*login form*/

div.clear {
    clear: both!important;
    width: 0!important;
    height: 0!important;
    padding: 0!important;
    margin: 0!important;
}

div.loginButton {

}

div.loginButton > input[type="submit"] {
    float: right;
    background-color: white;
    border-radius: 4px;
    padding: 7px 25px 7px 25px;
    margin-right: 4px;
    text-align: center;
    cursor: pointer;
    borer: none;
    outline: none;
    font-weight: bold;
}

div.loginButton > input[type="submit"]:hover {
    font-style: italic;
}

ul.topNav > li:first-child {
    width: 153px;
}

div.userBlock {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    vertical-align: middle;
}

    div.userBlock > div {
        float: left;
        margin: 0 5px;
        padding: 9px 0px 3px 0;
    }
    div.currUsername{
        margin-right: 15px!important;
        font-weight: bold;
    }

    div.notifIconBlock {
        cursor: pointer;
        padding: 9px 0 5px 0 !important;
    }
    div.red{
        color: #66a3ff;
        color: #33ff33;
    }
    div.red > i{
        font-size: 1.49em!important;
    }

    div.notifIconBlock > i {
        font-size: 1.32em;
    }






div.notifMsgBlock .close {
    width: 17px;
    height: 17px;
    border: 1px solid #000;
    display: block;
    cursor: pointer;
    position: absolute;
    top: -9px;
    left: -9px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    background: rgb(76, 76, 76);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(76, 76, 76, 1)), color-stop(50%, rgba(45, 45, 45, 1)), color-stop(51%, rgba(32, 32, 32, 1)), color-stop(100%, rgba(37, 37, 37, 1)));
    background: -moz-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(45, 45, 45, 1) 50%, rgba(32, 32, 32, 1) 51%, rgba(37, 37, 37, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(45, 45, 45, 1) 50%, rgba(32, 32, 32, 1) 51%, rgba(37, 37, 37, 1) 100%);
    background: -o-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(45, 45, 45, 1) 50%, rgba(32, 32, 32, 1) 51%, rgba(37, 37, 37, 1) 100%);
    background: -ms-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(45, 45, 45, 1) 50%, rgba(32, 32, 32, 1) 51%, rgba(37, 37, 37, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4c4c4c', endColorstr = '#252525', GradientType = 0);
    background: linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(45, 45, 45, 1) 50%, rgba(32, 32, 32, 1) 51%, rgba(37, 37, 37, 1) 100%);
}

div.notifMsgBlock .close:after {
    content: 'x';
    position: absolute;
    top: -1px;
    left: 5px;
    color: #999999;
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
}

    div.notifMsgBlock{
        display: none;
        position: absolute;
        right: -3px;
        top: 70px;
        width: 224px;
        /*height: 77px;*/
        background: rgba(25, 24, 24, 0.32);

        background: -webkit-linear-gradient(top,
                    rgba(25, 24, 24, 0.32)0%,
                    rgba(25, 24, 24, 0.32)1%,
                    /*rgba(76, 76, 71, 0.9) 0%,
                    rgba(76, 76, 71, 0.9) 1%,*/
                    rgba(58, 57, 52, 0.9) 44%,
                    rgba(47, 45, 41, 0.9) 45%,
                    rgba(29, 27, 20, 0.9) 100%);

        /*background-color: #1a75ff;
        background-color: #002966;*/
        border-radius: 5px;
        -webkit-box-shadow: 7px 10px 25px -8px rgba(0,0,0,1);
        -moz-box-shadow: 7px 10px 25px -8px rgba(0,0,0,1);
        box-shadow: 7px 10px 25px -8px rgba(0,0,0,1);
    }
    div.notifText{
        margin: 2px 6px 2px 18px;
        text-align: center;
    }
    div.notifText > span{
        letter-spacing: 1px;
        font-weight: bold;
        /*#FFFF4F*/
        color: #33ff33;
        color: #66ff66;
        color: #000066;
        padding-right: 9px;
        text-shadow: 1px 1px 5px rgba(255,255,255,0.72);
    }
        div.acceptReject{
            margin: 9px 0;
        }
            div.acceptReject > div{
                width: 32%;
                text-align: center;
                margin: 0 auto;
                cursor: pointer;
                padding: 4px 5px 4px 5px;
                /*border: 1px solid #002966;*/
                border-radius: 4px;
                color: #002966;
                color: #5181b8;
                background-color: #ffffff;
            }
            div.acceptReject > div:hover{
                color: #ffffff;
                background-color: #00001a;
                background-color: #002966;
                /*box-shadow: inset 0 0 0 1px #fff;*/
                box-shadow: 0 10px 4px -10px #fff;
                border: 1px solid;
            }
            div#accept{
                float: right;
                margin: 0 9% 0 auto;
                border: 1px solid;
            }
            div#reject{
                float: left;
                margin: 0 auto 0 9%;
                border: 1px solid;
            }

div.logoutDiv {
    margin: 27px auto 0px;
    font-weight: bold;
    font-size: 16px;
    padding: 3px 0px 3px;
    background-color: #ffffff;
    letter-spacing: 2px;
    color: #000000;

    border-radius: 10px;
    width: 72%;
    text-align: center;

}

div.logoutDiv:hover {
    background-color: #000000;

    color: #ffffff;
}

div.logoutDiv > a {
    width: 100%;
    display: block;
    padding: 5px 0;
    color: inherit;
}

div.homeContent {
    position: relative;
    box-sizing: border-box;
    max-width: 700px;
    margin: 45px auto 0 auto;
    background: rgba(25, 24, 24, 0.42);
    box-shadow: 0px 1px 13px 2px rgba(251, 251, 251, 0.09);

    /* position: relative;
     top: -294px;*/

    max-height: 450px;
    height: 450px;

    max-height: 520px;
    height: 520px;
    /*overflow: hidden;*/
    padding: 5px 50px 0px 50px;
}

div.userRow {
    width: 84%;
    padding: 6px 0 12px 0;
    margin: 5px auto 7px auto;
    font-size: 18px;

    /*border-bottom: 1px solid #e6e6e6;*/
    color: #e6e6e6;
    box-shadow: 0px 1px 0px 0px rgba(179,179,179,0.54);
}
div.userRow:hover {
    font-style: italic;
    /*color: #1a1a1a;*/
}

div.userRow > span {
    float: right;
    border: 1px solid #e6e6e6;
    padding: 0 5px;
    cursor: pointer;
    color: #e6e6e6;
}
div.userRow > span:hover {
    border: 1px solid #1a1a1a;
    color: #1a1a1a;
}
div.userRow:last-child{
    box-shadow: none;
    margin-bottom: 15px;
}



/*================loader================*/
div.loaderBlock{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index:99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
}
div.loaderGif{
    position: absolute;
    top: calc(50% - 54px);
    left: calc(50% - 27px);
    z-index:100;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 0.54s linear infinite;

    border: 7px solid #fbed91;

    border-top-color: #101b49;
    border-bottom-color: #101b49;

}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*================/loader================*/

/*================/info================*/
div.infoMsg{
    display: none;
    position: absolute;
    top: 58px;
    left: 0%;
    width: 100%;
}
div.infoMsg > p{
    width: 46%;
    margin: 5px auto;
    text-align: center;
    padding: 6px 6px 6px 6px;
    font-size: 17px;
    color: lime;
    border: 1px solid rgba(255, 255, 255, 0.51);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.42);
}
/*================/info================*/


div.sentRequestRow{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: 50% 24% 24%;
}

div.sentRequestRow > p.sentRequestInfoItem{
    text-align: center;
}
p.sentRequestRowTitle{
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

div.emptyRequests{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    padding-top: 15px;

    margin: 5px auto;
    text-align: center;
    padding: 6px 6px 6px 6px;
    font-size: 17px;
    color: lime;
    border: 1px solid rgba(255, 255, 255, 0.51);
    border-radius: 4px;
}

div.wishListAddButton{
    width: 100%;
    padding: 1px 0 1px 0;
    margin: 5px auto 7px auto;
    font-size: 18px;
    color: #e6e6e6;
}
div.wishListAddButton > span.wishRowIcon{
    float: right;
    width: 3.6%;
    margin: 0 1px 0 5px;
    text-align: center;
    border: 1px solid #e6e6e6;
    padding: 0 5px;
    cursor: pointer;
    color: #e6e6e6;
}

div.wishListRow{
    width: 84%;
    padding: 6px 0 12px 0;
    margin: 5px auto 7px auto;
    font-size: 18px;
    color: #e6e6e6;
    box-shadow: 0px 1px 0px 0px rgba(179,179,179,0.54);
}
div.wishListRow > span.wishTitle{
    float: left;
    width: 80%;
}
div.wishListRow > span.wishRowIcon{
    float: right;
    width: 3.6%;
    margin: 0 1px 0 5px;
    text-align: center;
    border: 1px solid #e6e6e6;
    padding: 0 5px;
    cursor: pointer;
    color: #e6e6e6;
}
div.wishListRow > span.wishRowIcon:hover, div.wishListAddButton > span.wishRowIcon:hover {
    border: 1px solid #1a1a1a;
    color: #1a1a1a;
}


/*======================================================*/
div.newWishBlock{
    color:#ffffff;
}
div.newWishBlockTitle{
    margin: 5px 5px 54px 5px;
    color: #ffffff;
    text-align: center;
    font-size: 21px;
    letter-spacing: 2px;
}
div.wishRow{
    margin: 5px 5px 10px 5px;
    font-size: 17px;
}
div.wishPropertyTitle{
    float: left;
    width: 20%;
    text-align: right;
}
div.wishPropertyInput{
    float: left;
    width: 75%;
    margin-left: 4%;
    text-align: center;
}
div.wishPropertyInput > input{
    width: 80%;
    border-radius: 3px;
    border: none;
    padding: 1px 1% 1px 2%;
}
div.wishPropertyInput > textarea{
    width: 80%;
    max-width: 80%;
    border-radius: 3px;
    border: none;
    padding: 1px 1% 1px 2%;
    height: 81px;
    min-height: 81px;
    max-height: 81px;
}
div.wishSaveButton{
    float: right;
    width: 15%;
    padding: 9px 18px 7px 18px;
    margin: 15px 7% 5px 20px;
    font-weight: bold;
    font-size: 16px;
    background-color: #ffffff;
    letter-spacing: 2px;
    color: #000000;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
div.wishCancelButton{
    float: right;
    margin: 15px 15px 5px 20px;
    font-weight: bold;
    font-size: 16px;
    padding: 9px 18px 7px 18px;
    background-color: #ffffff;
    letter-spacing: 2px;
    color: #000000;
    border-radius: 10px;
    width: 15%;
    cursor: pointer;
    text-align: center;
}
div.wishCancelButton:hover, div.wishSaveButton:hover{
    color: #ffffff;
    background-color: #000000;
}


div.friendRow{
    width: 84%;
    padding: 6px 0 12px 0;
    margin: 5px auto 7px auto;
    font-size: 18px;

    /*border-bottom: 1px solid #e6e6e6;*/
    color: #e6e6e6;
    box-shadow: 0px 1px 0px 0px rgba(179,179,179,0.54);
    cursor: pointer;
}

div.friendRow_withoutShadow{
    width: 84%;
    padding: 6px 0 12px 0;
    margin: 5px auto 7px auto;
    font-size: 18px;
    color: #e6e6e6;
    box-shadow: none !important;
    cursor: pointer;
}
div.friendRow:hover{
    color: #e6e6e6;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.54);
}
div.friendRow > span.friendFullName{
    float: left;
}
div.friendRow > span.friendBD{
    float: right;
}

div.friendWishBlock{
    display: none;
    width: 96%;
    margin: 10px auto 5px auto;
    border: 1px solid white;
    padding: 10px 2%;
}

div.wishItem{
    /*float: left;
    width: 90%;*/
}
div.wishItemNum{
    text-align: center;
    margin: 9px auto 7px auto;
}

div.wishTitle, div.wishLink{
    float: left;
    width: 20%;
    text-align: right;
}
div.wishTitleText, div.wishLinkText{
    float: left;
    width: 73%;
    text-align: left;
    margin-left: 5%;
}
div.wishDescription{
    float: left;
    width: 20%;
    text-align: right;
}
div.wishDescriptionText{
    float: left;
    width: 73%;
    text-align: left;
    margin-left: 5%;
}

div.emptyWishList{
    text-align: center;
}

div.bdBlock{
    display: none;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.723) !important;
    z-index: 111;
    color: #262626;
}
div.bdNotifyBlock{
    position: absolute !important;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    width: 400px !important;
    height: 200px !important;
    background: rgba(255,255,255,0.78) !important;

    border: 3px solid lime;
    border-radius: 5px;
}
div.bdNotifyBlock > p{
    padding: 10px 15px;
    padding: 51px 15px 10px 15px;
    text-align: center;
    font-size: 18px;
}

div.bdNotifyBlock > p > span{
   color: #003cb3;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 21px;
}

